<section class="comments-area inner">
<div class="kg-card kg-toggle-card" data-kg-toggle-state="close"><div class="kg-toggle-heading"><h5 class="kg-toggle-heading-text">{{comment_count empty=(t "No comments") singular=(t "comment") plural=(t "comments")}}<span class="kg-toggle-card-icon"><svg id="Regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="cls-1" d="M23.25,7.311,12.53,18.03a.749.749,0,0,1-1.06,0L.75,7.311"></path></svg></span></h5></div><div class="kg-toggle-content"><p class="comments-bit">{{comments title="" count=false}}</p></div></div>
</section>
