{{!-- Member subscribe box --}}
<section class="subscribe-box inner">
    <h2 class="subscribe-box-title">Subscribe</h2>
    <p class="subscribe-box-text">{{t "Subscribe to content and newsletters. Cancel anytime."}}</p>
    <a class="button button-solid" href="javascript:" data-portal="signup">
        {{{t "Subscribe now"}}}
    </a>
</section>
