{{!< default}}

{{!-- Fallback collection template (Ghost requires index.hbs; also
     serves /page/N/ of the root collection, which nothing links to).
     The real homepage is home.hbs. Renders a quiet centered list. --}}

<div class="index-list">
  {{#foreach posts}}
    <a class="index-list-item" href="{{url}}">
      <span class="index-list-title">{{title}}</span>
      <span class="index-list-date">{{date format="MMM D, YYYY"}}</span>
    </a>
  {{/foreach}}
</div>
