<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dream Club</title>
  <meta name="description" content="An eight-episode series mixing cosmic horror with the painfully human need for answers. Created by James A. Reeves and Candy Chang.">
  <link rel="stylesheet" href="https://use.typekit.net/eer6kbs.css">
  <link rel="stylesheet" href="{{asset "css/static-style.css"}}">
  {{ghost_head}}
</head>
<body>
  {{#post}}
  {{#if access}}

    <div class="container">
      <div class="content">
      




      </div>
    </div>



{{/if}}
{{/post}}
    

  {{ghost_foot}}

</body>
</html>


