{{!< default}}

<main id="main" class="content outer page-notebook">
    <div class="inner-wide">
    
    
    {{> notebook-header}}

        <!-- LOWLIGHTS -->
        <section class="highlights">
            <div class="footer-tags">
                <div class="index">
                    {{#get "posts" include="tags" filter="tag:-midnight-radio+featured:false+tag:artwork"}}                
                        {{#foreach posts}}
                            <div class="index-item is-visible" data-url="{{url}}">
                                <span class="index-name">{{title}}</span>
                                <span class="count">{{date published_at format="YYYY"}}</span>
                            </div>
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </section>

    </div>
</main>

<script src="{{asset "js/notebook.js"}}"></script>

