{{!< default}}

<main id="main" class="content outer page-notebook">
    <div class="inner-wide">

                {{> notebook-header}}


        <!-- Chronological Notebook Content -->
        <div id="notebook-container">
            <!-- JavaScript will populate this -->
        </div>

    </div>
</main>

<script src="{{asset "js/notebook.js"}}"></script>